:root {
    --primary-background-color: rgb(240,240,240);
    --secondary-background-color: rgb(200,200,200);
    --primary-text-color: rgb(10,10,10);
    --misc-background-color: rgb(170,170,170);
}
