.navbar {
    background-color: var(--secondary-background-color);
    position: relative;
}

.navbar a {
    color: var(--primary-text-color);
}

#sidebar { 
    background-color: var(--secondary-background-color);
}

#sidebar h5 {
    color: var(--primary-text-color);
}

#sidebar .offcanvas-body .offcanvas-header h3 {
    color: var(--primary-text-color);
}

#sidebar .offcanvas-body .offcanvas-header .btn-close {
    color: var(--primary-text-color);
}

#sidebar .offcanvas-body nav ul .nav-item a {
    color: var(--primary-text-color);
}

#sidebar .offcanvas-body nav ul .litem {
    position: absolute;
    bottom:0;
    margin-bottom: 10px;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}