* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.sidebar {
    width: 250px;
    background: #333333;
    color: rgb(240,240,240);
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar ul li:hover {
    background: #444444;
}

.content {
    flex: 1;
    padding: 20px;
}

.content h2 {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle label {
    margin-top: 50px;
    margin-right: 5%;
    margin-bottom: 5%;

    padding: 3% 8%;

    border: 2px solid;
    border-radius: 20px;

    background-color: var(--misc-background-color);
    cursor: pointer;
}

#lightLabelbutton {
    background-color: rgb(230,230,230);
}

#darkLabelbutton {
    background-color: rgb(20,20,20);
    color:rgb(230,230,230);
}

.btn {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}
