/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    text-align: center;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.contact button {
    background: none;
}

.contact button {
    min-width: 32px;
    min-height: 32px;

    width: 5%;
    height: 5%;
}

.profile-card {
    width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.profile-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-card h3 {
    margin: auto;
    align-items: flex-start;
}

.profile-layout .container {
    max-width: 400px;
    width: 90%;
    margin: 10% auto;
}

.profile-layout .container h5 {
    text-align: left;
}

.profile-layout .container div {
    background-color: var(--secondary-background-color);
    margin: 6px 0;
    padding: 15px;
    
    border: solid;
    border-color: var(--primary-text-color);
    border-radius: 10px;
    border-width: thin;

    min-width: 150px;
    min-height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-layout .container div p {
    margin: 0;
    text-align: center;
}

.contact {
    filter: invert(1);
    mix-blend-mode: difference;
    margin: 10px 0px;
}

.navbar {
    position: fixed;
}